@model TaskViewModel

    <h3>@ViewBag.Title</h3>

    @foreach (var el in Model.UsersTasks)
    {
        <div class="alert alert-warning mt-3">
            <b>Исполнитель: </b> @el.User.UserName<br />
            <b>Содержание: </b> @el.Content<br />
            <b>Дата выдачи: </b> @el.InitialDateTime<br />
            <b>Дата исполнения: </b> @el.CloseDateTime
        </div>
    }
